@import "../variables";

article.card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0.5em 0;

  &.item {
    $size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: content-box;
    > img {
      height: $size * 1.5;
    }
    > .content {
      flex-grow: 1;
      padding: 0.5em 0.5em 0.5em 0.2em;
      header {
        display: flex;
        font-size: $size;
        width: 100%;
        > a {
          font-weight: bold;
          color: black;
          text-decoration: none;
        }
        .right {
          .tooltip {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: bold;
            margin-right: 0.5em;
            &.profit {
              color: $green
            }
            &.loss {
              color: $red
            }
          }
          display: flex;
          flex-direction: row;
          align-items: stretch;
          font-size: 0.7em;
          margin-left: auto
        }
      }

    }
  }
}