@import "../variables";

div.search {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  > .tags {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  > input {
    width: 100%;
    font-size: 2em;
    padding: 0.2em;
    border: 0.1em solid $primary;
    box-sizing: border-box;
    outline: none;
  }
}