@import "normalize";
@import "variables";
@import "modules/card";
@import "modules/tag";
@import "modules/input";
@import "modules/button";

body {
  overflow-y: scroll;
  margin: 0;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
  font-size: 18px;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > header.toolbar {
    > div.title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;

      a.logo {
        font-size: 1.5em;
        text-decoration: none;
        color: black;
        margin: 0.5em;
      }

      img {
        height: 2em;
        margin: 0 0 0 0.5em;
        -webkit-user-drag: none;
      }
    }

  }

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;

    &#fourofour {
      background: $primary;
      background: linear-gradient(to bottom, $primary, #000a52);

      div {
        margin: auto auto;

        img {
          width: 100%;
          image-rendering: pixelated;
        }
      }

      a,
      h1,
      h2 {
        color: white;
        text-align: center;
      }
    }
  }

  > footer {
    margin-top: 2em;
    text-align: center;

    section {
      padding: 2em;

      &#copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        p {
          width: 300px;
          min-width: 300px;
          margin: 1em 1em;
        }
      }
    }
  }
}

.bg-primary {
  background-color: $primary;
  color: white;

  a {
    color: white;
  }

  .dark {
    background-color: rgba(2, 13, 55, 0.3);
  }
}

.container {
  margin: 0 auto;
  width: 95vw;

  // tablet
  @media only screen and (min-width: 768px) {
    width: 730px;
  }

  // desktop
  @media only screen and (min-width: 1200px) {
    width: 1000px;

  }
}

div.title {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    font-size: 1.33em;
    margin: 0;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

a.bold {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0 0.3em;
}

.vertical-container {
  margin-top: 0;
  margin-bottom: 0;
  // tablet
  @media only screen and (min-width: 768px) {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.token-container {
  display: flex;
  .token {
    margin: 2em auto;
  }
}

a.token {
  transition: color 0.1s ease-in-out;
  &.valid {
    color: $green;
  }
}