$orange: hsl(12, 83%, 62%);
$red: hsl(343, 86%, 55%);
$yellow: hsl(44, 100%, 61%);
$turquoise: hsl(176, 97%, 36%);
$green: hsl(135, 45%, 49%);
$blue: hsl(220, 69%, 49%);
$purple: hsl(250, 100%, 63%);;

$font-family: 'Source Sans Pro', sans-serif;
$primary: $purple;
$accent: $orange;
$background: white;
