@import "variables";
@import "modules/card";
@import "modules/tag";

body {
  overflow-y: scroll;
  margin: 0;
  min-width: 320px;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > header.toolbar {
    // box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;

      a {
        font-size: 2em;
        text-decoration: none;
        color: black;
        margin: 0.5em;
      }

      img {
        height: 3em;
        margin: 0 0 0 0.5em;
        -webkit-user-drag: none;
      }
    }

  }

  > main {
    flex: 1;
    display: flex;
    flex-direction: column;

    &#fourofour {
      background: $primary;
      background: linear-gradient(to bottom, $primary, #000a52);

      div {
        margin: auto auto;

        img {
          width: 100%;
          image-rendering: pixelated;
        }
      }

      a,
      h1,
      h2 {
        color: white;
        text-align: center;
      }
    }
  }

  > footer {
    text-align: center;

    section {
      padding: 2em;

      &#copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        p {
          width: 300px;
          min-width: 300px;
          margin: 1em 1em;
        }
      }
    }
  }
}

.bg-primary {
  background-color: $primary;
  color: white;

  a {
    color: white;
  }

  .dark {
    background-color: rgba(2, 13, 55, 0.3);
  }
}

div.searchContainer {
  margin: 4em 0;
}

div.search {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  > .tags {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  > input {
    width: 100%;
    font-size: 2em;
    padding: 0.2em;
    border: 0.1em solid $primary;
    box-sizing: border-box;
  }
}

.container {
  margin: 0 auto;
  width: 95vw;

  // tablet
  @media only screen and (min-width: 768px) {
    width: 730px;
  }

  // desktop
  @media only screen and (min-width: 1200px) {
    width: 1000px;

  }
}
