// local

$orange: hsl(12, 83%, 62%);
$yellow: hsl(44, 100%, 61%);
$turquoise: hsl(176, 97%, 36%);
$blue: hsl(220, 69%, 49%);
$purple: hsl(321, 12%, 29%);

$font-family: 'Source Sans Pro', sans-serif;
$primary: $blue;
$accent: $purple;
$background: white;
